<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="container mt-5">

<h2>Iniciar sesión</h2>
<form method="post" th:action="@{/login}">
  <div class="mb-3">
    <label for="username" class="form-label">Correo</label>
    <input type="text" name="username" id="username" class="form-control"/>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" name="password" id="password" class="form-control"/>
  </div>
  <button type="submit" class="btn btn-success">Entrar</button>
</form>

</body>
</html>
