<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout_encargado">

<head>
    <title>UTP Integrador - encargado</title>
    <style>
        .main-content {
            margin-right: 240px;
            padding: 80px 2rem 2rem 2rem;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        .search-input {
            max-width: 300px;
        }
    </style>
</head>

<body>

    <div layout:fragment="content" id="colaboradoresApp" class="container mt-4">
        <h1>aca va las reservas del dia del rol del encargado</h1>
    </div>

</body>

</html>