<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}"
      th:with="pageTitle='UTP Integrador - Estados de Trabajo'">

    <head>
        <title>UTP Integrador - Estados de Trabajo</title>
        <style layout:fragment="css-specific">
            .main-content {
                margin-right: 240px;
                padding: 80px 2rem 2rem 2rem;
            }
            h1 {
                font-size: 24px;
                font-weight: bold;
                margin: 0;
            }

            .search-input {
                max-width: 300px;
            }
        </style>
    </head>

    <body>
        <main layout:fragment="content">
            <div id="colaboradoresApp" class="container mt-4">
                <h1>aca se ve los estados de los trabajos </h1>
            </div>
        </main>
    </body>
</html>